- cache(comment) do
  .comment[comment]{ highlightable(dom_id(comment, :tools)) }
    .tools{ invisible, :id => dom_id(comment, :tools) }
      %small
        = link_to_delete(comment) + "&nbsp;"
    .body
      %tt= comment.created_at.to_s(:short)
      %dt= simple_format property_link_helper(RedCloth.new(comment.comment).to_html)
